<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeKart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename = 'css/global.css')}}">
     {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <img onclick = "window.location='/'" src="{{ url_for("static", filename = 'img/logo.png')}}" height="120" width="200">
      </div>

      <form class="nav-button" action="/search">
        <input type="text" id = "query" name="search_key">
        <input type="submit" id = "search_key" value="🔎"> 
      </form>
      <div class="feilds">
        {% if not session["user_id"] %}
          <button onclick="window.location='/login/'">Login</button>
          <button onclick="window.location='/register/'">Sign Up</button>
        {% else %}
          {% if session["type"]  == "seller" %}
            <button onclick="window.location='/dashboard/'">Dashboard</button>  
          {% endif %}        
          <button onclick="window.location='/logout/'">Logout</button>

        {% endif %}


      </div>
    </div>
    
    {% block content %}
    {% endblock %}
  </body>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</html>
