{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{
    url_for('static', filename = 'css/dashboard.css')
}}">

{% endblock %}

{% block content %}

<inventory>
    <div class="display">
        <div class="heading">
   Inventory
        </div>
        <div class="products">
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>MRP</th>
                    <th>Expiry</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                {% for product in seller.products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.time }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                      <button onclick="window.location = '/dashboard/edit/{{ product.id }}'">Edit</button>
                      <button onclick="window.location = '/dashboard/delete/{{ product.id }}'" class="refuse-btn">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </table>         
        </div>
        <div class="add">
            <button id = 'add' onclick="window.location = '/dashboard/add'">
                Add A New Product
            </button>
        </div>
    </div>
    <div class="display">
        <div class="heading">
          Orders
        </div>
        <div class="products">
           
            
    <table>
        <tr>
            <th>Product Name</th>
            <th>Amount</th>
            <th>Order Time</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th>Action</th>
        </tr>
        {% for order in orders %}
        {% if order.status == "Pending" %}
        <tr>
            <td>{{order.product_name}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.time}}</td>
            <td>{{order.status}}</td>
            <td>{{order.customer_name}}</td>
            <td class="action-buttons">
                <button onclick="window.location='/dashboard/accept/{{ order.id }}'" class="accept-btn">Accept</button>
                <button onclick="window.location='/dashboard/refuse/{{ order.id }}'" class="refuse-btn">Refuse</button>

            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table> 
          
        </div>
      </div>
    <div class="display">
        <div class="heading">
          Past Orders
        </div>
        <div class="products">
           
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Order Time</th>
                    <th>Status</th>
                    <th>Customer Name</th>
                   
                </tr>
                {% for order in orders %}
                {% if order.status != "Pending" %}
                <tr>
                    <td>{{order.product_name}}</td>
                    <td>{{order.amount}}</td>
                    <td>{{order.time}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.customer_name}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table> 
          
        </div>
      </div>
</inventory>




{% endblock %}
