{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{
    url_for('static', filename = 'css/add.css')
}}">
{% endblock %}

{% block content %}
    <div class="display">
        <div class="heading">
           Edit Product
        </div>
        <div class="products">
          <form action="/submit" id="addForm" enctype="multipart/form-data">
              <label for="productName">Product Name:</label>
              <input type="text" value="{{ product.name }}" id="productName" name="name" required><br>
              <label for="mrp">MRP:</label>
      <input type="number" id="mrp" value="{{ product.price }}" name="price" required><br>
              <label for="quantity">Quantity</label>
      <input type="number" id="quantity" value="{{product.quantity}}" name="quantity" required><br>
              <input type="submit" value="Save">
          </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
  <script src="{{ url_for('static',filename='js/edit.js') }}"></script>
{% endblock %}
