{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = "css/product-view.css")}}">
{% endblock %}
{% block content %}
<product-view>
        
        <img width="500"  src={{product.pic}} alt="">
        
        <prod-details>
            <div id="name">
                {{product.name}}
            </div>
            <div id = price>
                <strike>MRP: ${{product.price}}</strike>
            </div>
            <div id = "d_price">
                Discounted Price: ${{product.effective_price}}
            </div>
            <div id = "expiry">
                {{product.days}} Days To Expire
            </div>
            <form class="quantity-control">
                <div class="num_input">
                <div class="icon" id="decrease">&nbsp;&nbsp;-&nbsp;&nbsp;    </div>
                <input name="quantity" id="quantity">
                <div class="icon" id="increase">&nbsp;+&nbsp;&nbsp;</div>
            </div>
            <input type = "submit" value = "Buy Now">
             
            </input>
        </prod-details>

</product-view>

<script>
    // Get quantity element
    var quantityElement = document.getElementById('quantity');

    // Get increase and decrease icons
    var increaseIcon = document.getElementById('increase');
    var decreaseIcon = document.getElementById('decrease');

    // Initial quantity value
    var quantity = 1;

    // Function to update quantity display
    function updateQuantity() {
        quantityElement.textContent = quantity;
    }

    // Event listener for increase icon
    increaseIcon.addEventListener('click', function() {
        quantity++;
        updateQuantity();
    });

    // Event listener for decrease icon
    decreaseIcon.addEventListener('click', function() {
        if (quantity > 1) {
            quantity--;
            updateQuantity();
        }
    });
</script>


{% endblock %}
